.container { 
  display : flex;
  gap: 16px;
  flex-wrap: wrap;
  
}

.grids {
  height : 100px;
  width : 100px;
  border-style : solid;
  box-sizing: border-box;
  background-color: gray;
}

.grids:hover {
  background-color: azure;
  cursor : pointer;
}

.btn {
  display:block;
  margin: 20px auto;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: azure;

}

.btn:hover{
  background-color: rgb(7, 173, 173);
  cursor : pointer;
}